{% extends "base.html" %}

{% block page_title %}Menu {{ menu.pk }} detail{% endblock %}

{% block container %}

<div class="container">
  <div class="row">
    <h2 class="mb-0">Menu {{ menu.pk }} detail</h2>
  </div>
  <div class="row">
    {% include "menus/menus/includes/menu_card.html" %}
  </div>
  <div class="border-top my-3"></div>
  <div class="row">
    <div class="col-12">
      {% if not menu.is_available %}
        <h3 class="mb-0">This menu is unavailable at this time</h3>
      {% elif order %}
        <h3 class="mb-0">You already have an order with this menu</h3>
      {% elif not is_valid_user %}
        <h3 class="mb-0">You have to be a Cornershop employee to order</h3>
      {% else %}
        <h3 class="mb-0">Please select your preferred option</h3>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row justify-content-center">
        {% for menu_option in menu_options %}
        {% include "menus/meals/includes/meal_card.html" with meal=menu_option.meal menu_option=menu_option %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
