{% load static %}
<nav class="navbar navbar-expand-lg" id="main-navbar">
    <div class="container">

        <a class="navbar-brand pr-5" style="border-right: 1px solid #efefef;" href="{% url "users:index" %}">
            Home
        </a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item nav-icon">
                    <a href="{% url "menus:index" %}" title="Menus" tooltip="Menus">
                        Menus
                    </a>
                </li>
                <li class="nav-item nav-icon">
                    <a href="{% url "meals:index" %}" title="Meals" tooltip="Meals">
                        Meals
                    </a>
                </li>
                <li class="nav-item nav-icon">
                    <a href="{% url "users:logout" %}" title="Logout" tooltip="Logout">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
