<div class="col-sm-12 col-md-8 offset-md-2 mt-5 p-0">
  <div class="card">
    <div class="card-body">
      <p class="mb-1">ID: {{ menu.pk }}</p>
      <p class="mb-1">Options in menu: {{ menu.menu_options.count }}</p>
    </div>
    <div class="card-body">
      <b>{{ menu.date }}</b>
    </div>

    {% if perms.menus.view_menu or perms.menus.change_menu %}
    <div class="card-footer">
      <div class="row">
        {% if perms.menus.view_menu %}
        <div class="col-4 text-center">
          <a class="btn btn-block btn-primary" href="{% url "menus:detail" menu.pk %}" title="Show detail">
            <i class="fas fa-eye"></i>
          </a>
        </div>
        {% endif %}
        {% if perms.menus.change_menu and menu.is_available %}
        <div class="col-4 text-center">
          <a class="btn btn-block btn-primary" href="{% url "menus:update" menu.pk %}" title="Edit">
            <i class="fas fa-edit"></i>
          </a>
        </div>
        {% endif %}
        {% if perms.menus.send_slack_reminder and menu.is_available %}
        <div class="col-4 text-center">
          <a class="btn btn-block btn-primary" href="{% url "menus:update" menu.pk %}" title="Send slack reminder">
            <i class="fas fa-bell"></i>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
